<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/download.png" />
	
	<title> Cars PRO </title>
			<!-- Font Awesome Stylesheet -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Cairo&family=Mukta:wght@300&display=swap" rel="stylesheet">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
	
<body>

	<% if (usuarioLogueado ) { %> 
		<%- include('./partials/headerLogueado.ejs') %>
		<% } else { %>
			<%- include('./partials/headerNoLogueado.ejs') %>
		<% } %>
	

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="/images/profile/<%= usuarios.imagen %>" alt="foto de perfil" class="foto-perfil">
			</div>

			<!-- Datos del usuario y form para editar perfil-->
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title">  <%= usuarios.first_name  %> 
						<% if (usuarioLogueado) { %>
						 	<% if (miUsuario.id == usuarios.id) { %>  <!--  mismo en el de borrar y editar -->
						 <a href="/datos/profileEdits/<%= usuarios.id %> ">
							<i class="fas fa-cog"></i>
					    	</a>
						<% }} %>


					</h1>
				</div>
				<div>
					<ul class="">
					<li>  <%= usuarios.producto.length %> productos</li>
						<li> <%= usuarios.comentario.length %> comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			
			<!-- Show mis productos -->
		<% usuarios.producto.forEach(miProducto => { %>
	          
			 <div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/<%= miProducto.id %>">
						<figure class="product-box_image">
							<img src="/images/products/<%= miProducto.imagen %>" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							
							<p> <%= miProducto.descripcion %> </p>
							<p>Comentarios: <%= miProducto.comentario.length %> </p>
						</article>
					</a>
				</section>
			</div>
			
		<% }) %> 
		
			
		</div>
	</div>
	<!-- /Mis productos -->

	<footer>
		<%- include('./partials/footer.ejs') %>
	</footer>

</body>	
</html>